.row-base{
    display: flex; 
    flex-direction: row; 
    box-sizing: border-box; 
    flex-wrap: wrap;
}




.r-x-start{
    justify-content: flex-start;
}

.r-x-end{
    justify-content: flex-end;
}

.r-x-center{
    justify-content: center;
}

.r-x-space-between{
    justify-content: space-between;
}

.r-x-space-around{
    justify-content: space-around;
}

.r-y-center{
    align-items: center;
}

.r-y-start{
    align-items: flex-start;
}


.r-y-end{
    align-items: flex-end;
}


.r-wrap{
    flex-wrap: wrap;
}

.r-nowrap{
    flex-wrap: nowrap;
}

.r-x-scroll{
    overflow-x: auto;
    flex-wrap: nowrap;
}


@media (max-width:576px){
    .row-base-s{
        display: flex; 
        flex-direction: row; 
        box-sizing: border-box; 
        flex-wrap: wrap;
    }
    
    
    
    
    .r-x-start-s{
        justify-content: flex-start;
    }
    
    .r-x-end-s{
        justify-content: flex-end;
    }
    
    .r-x-center-s{
        justify-content: center;
    }
    
    .r-x-space-between-s{
        justify-content: space-between;
    }
    
    .r-x-space-around-s{
        justify-content: space-around;
    }
    
    .r-y-center-s{
        align-items: center;
    }
    
    .r-y-start-s{
        align-items: flex-start;
    }
    
    
    .r-y-end-s{
        align-items: flex-end;
    }
    
    
    .r-wrap-s{
        flex-wrap: wrap;
    }
    
    .r-nowrap-s{
        flex-wrap: nowrap;
    }
    
    .r-x-scroll-s{
        overflow-x: auto;
        flex-wrap: nowrap;
    }
}