body{
    background-color: #f8f7f3;
}
  
.txt-white{
    color: #fff;
}
  
.txt-xl{
    color: #000;
    font-size: 3rem;
    font-weight: 1000;
}
  
.txt-l{
    font-size: 3rem;
    /* font-weight: 1000; */
    /* padding-left: 1rem;
    padding-right: 1rem; */
}
  
.txt-m{
    font-size: 1rem;    
}

.txt-s{
    font-size: 1rem;
}

.txt-cursive{
    font-family: 'Bradley Hand', cursive;
}

.txt-bold-m{
    font-weight: 500;
}

.txt-bold-l{
    font-weight: 1000;
}

.btn-primary{
    background-color: #253499;
    width: 10rem;
    height: 3rem;
    color: #fff;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.btn-primary:hover{
    background-color: #091772;
}


@media (max-width: 576px) {
  
  
    .txt-xl-s{
        color: #000;
        font-size: 4rem;
        font-weight: 1000;
    }
      
    .txt-l-s{
        font-size: 2.5rem;
    }
      
    .txt-m-s{
        font-size: 1.75rem;    
    }
    
    .txt-s-s{
        font-size: 1.25rem;
    }
    
    .txt-cursive-s{
        font-family: 'Bradley Hand', cursive;
    }
    
    .txt-bold-m-s{
        font-weight: 500;
    }
    
    .txt-bold-l-s{
        font-weight: 1000;
    }
    
    .btn-primary-s{
        background-color: #262354;
        width: 10rem;
        height: 3rem;
        color: #fff;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
    }
      
    

}




